.mainobjdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 20vw;

    background-color: aqua;
    transform: translate(40vw, 7.5vh );
}
.mainobj{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
}
.mnu{
    background-color: #D9D9D9;
    height: 15vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(20vw, -15vh );
}

body{
    margin: 0px;
     overflow: hidden; 
}

.config{
    background-color: #828282;
    height: 9.5vh;
    width: 14.5vw;
}
.puntosm{
    height: 15vh;
    width: 20vw;
    display: flex;
    justify-content: left;
    align-items: up;
    background-color: brown;
}
.mejoras2{
    height: 70vh;
    width: 10vw;
    transform: translate(90vw, -125vh );
    background-color: rgb(155, 148, 140);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.mejoras1{
    height: 70vh;
    width: 10vw;
    transform: translate(80vw, -55vh );
    background-color: rgb(112, 71, 18);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
.mejoraclmn1{
    width: 7.8vw;
    height: 18.5vh;
    background-color: rgb(92, 78, 81);
    align-self: center;
}
.mejoraclmn2{
    width: 7.8vw;
    height: 18.5vh;
    background-color: crimson;
    align-self: center;
}
.statsresumidas{
    background-color: rgb(38, 124, 143);
    height: 15vh;
    width: 15vw;
}
.ministats{
    transform: translate(0vw, -1.6vh );
}
.ayuda{
    background-color: rgb(82, 10, 8);
}
.save{
    background-color: rgb(255, 9, 235);
}
.expansion{
    background-color: rgb(40, 3, 67);
}
.logojuego{
    background-color: rgb(248, 128, 128);
    width: 20vw;
    height: 15vh;
    transform: translate(80vw, -220.3vh );
}
.body{
    height: 100vh;
}