.mainobjdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    transform: translate(0px, -15vh );
    background-color: aqua;
}
.mainobj{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 402px;
    height: 329p;
}
.mnu{
    background-color: #D9D9D9;
    height: 15vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(20vw, -15vh );
}
body{
    margin: 0px;
}
.config{
    background-color: #828282;
    height: 9.5vh;
    width: 14.5vw;
}
.configstats{
    font-size: 3.7vh;
}
.puntosm{
    height: 15vh;
    width: 20vw;
    display: flex;
    justify-content: left;
    align-items: up;
    background-color: brown;
}