.mainobjdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 20vw;

    background-color: aqua;
    transform: translate(40vw, 7.5vh );
}
.mainobj{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
}
.mnu{
    background-color: #D9D9D9;
    height: 15vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(20vw, -15vh );
}

body{
    margin: 0px;
    overflow: hidden;
}

.config{
    background-color: #828282;
    height: 9.5vh;
    width: 14.5vw;
}
.configstats{
    font-size: 3.7vh;
}
.puntosm{
    height: 15vh;
    width: 20vw;
    display: flex;
    justify-content: left;
    align-items: up;
    background-color: brown;
}