body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
}

.arriba{
    background-color: aqua;
    height: 15%;
    width: 100%;
    display: flex;
}

    .contadorPMD{
        background-color: lightgreen;
        height: 100%;
        width: 20%;
    }

    .mnu{
        background-color: hotpink;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
    }

        .ayuda{
            height: 32.5%;
            width: 50%;
            background-color: brown;
        }
        
        .guardar{
            height: 32.5%;
            width: 50%;
            background-color: brown;
        }

    .mnu2{
        background-color: hotpink;
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .config{
            height:70%;
            width: 60%;
            background-color: brown;   
        }
    .statsmini{
        width: 20%;
        height: 100%;
        background-color: darkblue;
    }

    .logonombre{
        background-color: chartreuse;
        width: 15%;
        height: 100%;
    }

.medio{
    background-color: black;
    height: 85%;
    width: 100%;
    display: flex;
}

    .centrar{
        width: 15%;
        height: 100%;
    }
    .fondo{
        height: 100%;
        width: 567%;
    }

    .mainobj{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;        
    }
        .mainbuttondiv{
            height: 50%;
            width: 40%;
        }
            .mainbutton{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0);
                border-color: rgba(255, 255, 255, 0);
                
            }

    .columna{
        height: 100%;
        width:  15%;
        display: flex;
        flex-direction: column;
    }

    .mejoras{
        width: 100%;
        height: 100%;
        display: flex;
        align-self: flex-end;
    }
 
    .menumejoras1{
        width: 50%;
        height: 100%;
        background-color: peru;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .menumejoras2{
        width: 50%;
        height: 100%;
        background-color: salmon;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

.mejoradiv{
    height: 25%;
    width: 50%;
}
.mejora{
    width: 100%;
    height: 100%;
}
.mainimg{
    height: 300%;
    aspect-ratio: 1-1;
    border-color: rgba(255, 255, 255, 0);
}